header.header
    .header_column
        i.fas.fa-democrat
            input(type="text", name="search", placeholder="Search")
            label(for="login") 로그인 
            label(for="join") 회원가입 
            label(for="center") 고객센터 