extends layouts/main

block content
    .hashTag
        p 해시태그 둘러보기
        span.hashTagArea
        img.hash(src="https://via.placeholder.com/100x80.png?text=HASH1")
        img.hash(src="https://via.placeholder.com/100x80.png?text=HASH2")
        img.hash(src="https://via.placeholder.com/100x80.png?text=HASH3")
        img.hash(src="https://via.placeholder.com/100x80.png?text=HASH4")
        img.hash(src="https://via.placeholder.com/100x80.png?text=HASH5")
        img.hash(src="https://via.placeholder.com/100x80.png?text=HASH6")
        .readToWay
            img.hash(src="https://via.placeholder.com/240x240.png?text=Read To Way 1") 
            img.hash(src="https://via.placeholder.com/240x240.png?text=Read To Way 2")
            img.hash(src="https://via.placeholder.com/240x240.png?text=Read To Way 3")
    .mainContent
        .selectText
            button ALL
            button Take on
            button New
        .imgContent
            img.hash(src="https://via.placeholder.com/200x200.png?text=img1")
            img.hash(src="https://via.placeholder.com/200x200.png?text=img2")
            img.hash(src="https://via.placeholder.com/200x200.png?text=img3")
            img.hash(src="https://via.placeholder.com/200x200.png?text=img4")
            br
            img.hash(src="https://via.placeholder.com/200x200.png?text=img5")
            img.hash(src="https://via.placeholder.com/200x200.png?text=img6")
            img.hash(src="https://via.placeholder.com/200x200.png?text=img7")
            img.hash(src="https://via.placeholder.com/200x200.png?text=img8")
            br
            img.hash(src="https://via.placeholder.com/200x200.png?text=img9")
            img.hash(src="https://via.placeholder.com/200x200.png?text=img10")
            img.hash(src="https://via.placeholder.com/200x200.png?text=img11")
            img.hash(src="https://via.placeholder.com/200x200.png?text=img12")
            br
            img.hash(src="https://via.placeholder.com/200x200.png?text=img13")
            img.hash(src="https://via.placeholder.com/200x200.png?text=img14")
            img.hash(src="https://via.placeholder.com/200x200.png?text=img15")
            img.hash(src="https://via.placeholder.com/200x200.png?text=img16")
